{% extends "layout.html" %}

{% block content %}
    <!-- <div class="container">
        <h2>แบบฟอร์มติดต่อแอดมิน</h2>
        <form action="{{url_for('signupForm')}}" method="GET">
            <div class="form-group">
                <label for="">ชื่อผู้ติดต่อ</label>
                <input type="text" name="fname" class="form-control">
            </div>
            <div class="form-group">
                <label for="">รายละเอียด</label>
                <textarea name="description" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <br>
            <input type="submit" value="ส่งข้อมูล" class="btn btn-success">
         </form>
    </div> -->
    
    <!-- <h1>Hello Admin</h1>
    <a href="{{url_for('static',filename='picture1.jpg')}}">ดูรูปภาพ</a> -->

    {% if username == "Nithiphat" %}
        <h1>ยินดีต้อนรับเข้าสู่หน้า Admin</h1>
        <img src="../static/picture2.jpg" alt="">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>

    {% else %}
        <h1>คุณไม่ใช่ Admin</h1>
        <p>กรุณากลับหน้าแรก</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    {% endif %}
{% endblock %}